<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">{{'Menu'}}</mat-icon>
    <mat-icon *ngIf="sidenav.opened">{{'Close'}}</mat-icon>
  </button>
  <span>Hello, there will be navigation here and breadcrumbs</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <span>
        <mdb-icon fas icon="user"></mdb-icon>
         <a [routerLink]="['students']">{{'Student'}}</a>
      </span>
    </button>
    <button mat-button class="menu-button">
       <span>
        <mdb-icon fas icon="users"></mdb-icon>
         <a [routerLink]="['student-groups']">{{'Student group'}}</a>
      </span>
    </button>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
