/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-card .p-card-content {
  padding: 0;
}

.p-component {
  font-size: 0.9rem;
}
